@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Sen:wght@400..800&display=swap");

* {
  cursor: default;
  list-style: none;
  text-decoration: none;
  --heading-font: "Lusitana", system-ui;
  --p-font: "Sen", system-ui;
  --hero-bg: #76431e;
}

html {
  overflow-x: hidden;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  color: #000;
  position: static;
  scroll-behavior: smooth;
  font-family: "Sen", system-ui;
  overflow-x: hidden;
}
select,
input,
button:focus {
  outline: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
.image-with-text__text.rte ul {
  list-style: disc;
}
a {
  text-decoration: none;
  color: #000;
}
a,
a * {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.imgbox_full,
.imgbox {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.imgbox_full img,
.imgbox img {
  width: 100%;
  height: auto;
}
.imgbox_full {
  height: 100%;
}
.imgbox_full img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  max-width: 1456px;
  margin: 0 auto;
}
.container_2 {
  max-width: 1300px;
  margin: 0 auto;
  padding-inline: 15px;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .container_2 {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 992px) {
  .container_2 {
    max-width: 900px;
  }
}
@media only screen and (max-width: 768px) {
  .container_2 {
    max-width: 720px;
  }
}
@media only screen and (max-width: 576px) {
  .container_2 {
    max-width: 540px;
  }
}

/* swiper class  */
.swiper-button-prev {
  display: flex;
  align-items: center;
}
.swiper-button-prev:hover {
  background: #69d1d1;
  border: none;
}

.swiper-button-next {
  display: flex;
  align-items: center;
}

.swiper-button-next:hover {
  background: #69d1d1;
  border: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  background: transparent;
  opacity: 1;
}

/* common font name  */
.heading-font {
  font-family: "Lusitana", system-ui;
}
.p-font {
  font-family: "Sen", system-ui;
}
/* common font name  */

/* hero section start  */

/* main button style  */

.hero_section .animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 23px 35px;
  font-size: 20px;
  border: none;
  background-color: #69d1d1;
  font-weight: 800;
  color: black;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: black;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #69d1d1;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  color: #212121;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

/* main button style  */

.hero_section {
  background-image: url(/image/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image-mobile {
  display: none;
}

.hero-first-content {
  color: white;
}

.hero-first-content .first-content {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero-first-content .second-content {
  width: 100%;
}

.hero-first-content .second-content h1 {
  font-family: var(--heading-font);
  font-size: 56px;
  margin-bottom: 24px;
}

.hero-first-content .second-content p {
  font-size: 20px;
  margin-bottom: 24px;
  font-weight: 500;
}

.hero-card {
  background: white;
  width: 100%;
  max-width: 435px;
  margin-left: auto;
}

.hero-card-body {
  display: flex;
}

.hero-content {
  height: 100vh;
  padding: 60px 0;
}

.hero-first-content {
  align-self: center;
}

.hero-content .card_wrapper {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.hero-card-body .card-content {
  padding: 19.5px 22px;
}

.hero-card-body .card-icon {
  display: flex;
  align-items: center;
  gap: 4px;
}

.hero-card-body .card-content h4 {
  font-size: 18px;
  font-family: var(--heading-font);
  font-weight: 700;
  margin-bottom: 5px;
}

.hero-card-body .card-content p {
  font-size: 14px;
  line-height: 18.2px;
  margin-bottom: 5px;
}

.hero-card-body .card-content .card-icon h5 {
  font-size: 14px;
  font-weight: 700;
}

.hero-card-body .card-content .card-icon p {
  font-size: 12px;
  margin: 0;
}

.hero_section .hero-content .card_img_wrapper {
  width: 28%;
  flex-shrink: 0;
}

.card-end {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .hero-content {
    height: auto;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .hero-first-content .first-content {
    font-size: 15px;
  }
  .hero-first-content .second-content h1 {
    font-size: 50px;
  }

  .hero-first-content .second-content p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 880px) {
  .hero-card-body .card-content .card-icon .yellow-star svg {
    width: 60px;
  }
}

/* @media only screen and (max-width: 680px){

} */
@media only screen and (max-width: 500px) {
  .hero-first-content .first-content {
    font-size: 14px;
  }

  .hero-content .main-btn .animated-button {
    width: 100%;
    padding: 18px 56px;
  }
  .hero_section {
    background: var(--hero-bg);
  }

  .hero-first-content .second-content h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .hero-first-content .second-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .hero-first-content {
    text-align: center;
    transform: translatey(-80px);
  }

  .hero-image-mobile {
    display: block;
  }

  .hero-content {
    padding: 0;
  }

  .hero-content .card_wrapper {
    transform: translatey(-72px);
  }
}

@media only screen and (max-width: 450px) {
  .hero-card-body .card-content p {
    font-size: 12px;
    line-height: 14px;
  }

  .hero-card-body .card-content {
    padding: 10px 15px;
  }

  .hero-first-content .first-content {
    font-size: 13px;
  }

  .hero-first-content .second-content h1 {
    font-size: 24px;
  }
  .hero-first-content .second-content p {
    font-size: 15px;
  }

  .hero-card-body .card-content .card-icon .yellow-star svg {
    width: 50px;
  }

  .hero-card-body .card-content .card-icon h5 {
    font-size: 11px;
  }
  .hero-card-body .card-content .card-icon p {
    font-size: 10px;
  }
}

/* infinity slider  */

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.infinity_slider {
  padding: 20px 0;
}
.infinity_slider .slider {
  background: white;
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.infinity_slider .slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  align-items: center;
  width: calc(250px * 14);
}
.infinity_slider .slider .slide {
  width: 210px;
  opacity: 60%;
}

.infinity_slider .slide-track {
  padding: 20px;
}

.infinity_slider .content {
  font-size: 18px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.infinity_slider .content p {
  font-size: 18px;
}

@media only screen and (max-width: 1024px) {
  .infinity_slider .content {
    justify-content: center;
    padding: 20px 0 0 0;
  }
}

/* infinity_slider end  */

/* collection section  */

.collection_section .collections {
  overflow: hidden;
}

.text_With_img_section .imgbox {
  overflow: visible;
}
.collection_section .main-btn {
  opacity: 0;
  visibility: hidden;
  transition: all linear 350ms;
}

.collection_section .collections:hover .main-btn {
  opacity: 1;
  visibility: visible;
}
.collection_section .collections:hover .collection-content {
  transform: translateY(0);
  color: white;
}

.collection_section .animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 18px 74px;
  font-size: 20px;
  border: none;
  background-color: #69d1d1;
  font-weight: 800;
  color: black;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  margin: 15px 0;
  left: 50%;
  transform: translateX(-50%);
}

.collection_section .collection-content h2 {
  font-size: 34px;
  font-family: var(--heading-font);
  line-height: 44.1px;
  font-weight: 700;
}

.collection_section .collection-content p {
  font-size: 22px;
}

.collection_section .collections {
  text-align: center;
  position: relative;
}

.collection_section .collections .collection-content {
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 20px 0;
  right: 5%;
  transform: translateY(40%);
  transition: all linear 350ms;
}

.collection_section .collections:hover .collection_section .animated-button {
  display: flex;
}

@media only screen and (max-width: 500px) {
  .collection_section .collection-content h2 {
    font-size: 26px;
    font-family: var(--heading-font);
  }

  .collection_section .collection-content p {
    font-size: 16px;
  }
}

/* collections section end  */

/* text with image section  */

.text_With_img_section {
  background: url("/image/text-image-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 23px;
}

.text_With_img_section .image {
  width: 50%;
  position: relative;
  z-index: 0;
}

.text_With_img_section .image:after {
  content: url("/image/shadow.png");
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-10%);
  z-index: -1;
}

.text_With_img_section .content h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--heading-font);
  line-height: 57.6px;
}
.text_With_img_section .content p {
  font-size: 20px;
  margin: 15px 0 25px 0;
  line-height: 30px;
}

.text_With_img_section .content ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  margin-bottom: 34px;
}

.text_With_img_section .content ul li {
  display: flex;
  gap: 12px;
}

.text_With_img_section .content ul li img {
  max-width: 100%;
  width: 32px;
}

@media only screen and (max-width: 420px) {
  .text_With_img_section .content ul li img {
    width: 56px;
  }
}

.text_With_img_section .content .animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 23px 35px;
  font-size: 20px;
  border: none;
  background-color: #69d1d1;
  font-weight: 800;
  color: black;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.buttons {
  display: flex;
  gap: 15px;
}

.text_With_img_section .content .ship {
  display: flex;
  gap: 12px;
  align-items: center;
}

.text_With_img_section .content .ship span {
  font-size: 18px;
}

.text_With_img_section .content .ship img {
  width: 32px;
}

@media only screen and (max-width: 1270px) {
  .text_With_img_section .content .animated-button {
    padding: 23px 23px;
  }
}

@media only screen and (max-width: 992px) {
  .text_With_img_section {
    padding-bottom: 50px;
  }

  .text_With_img_section .image {
    width: 100%;
  }

  .text_With_img_section .image:after {
    right: -4%;
  }

  .text_With_img_section .content h2 {
    font-size: 43px;
  }

  .text_With_img_section .imgbox {
    overflow: hidden;
  }
}

@media only screen and (max-width: 650px) {
  .buttons {
    flex-direction: column;
  }
  .text_With_img_section .content h2 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .buttons {
    gap: 20px;
  }
  .text_With_img_section .content .animated-button {
    width: 100%;
    padding: 15px 57px;
  }

  .text_With_img_section .content .ship {
    width: 100%;
    justify-content: center;
  }

  .text_With_img_section .content p {
    font-size: 20px;
  }

  .text_With_img_section .content h2 {
    font-size: 35px;
  }

  .text_With_img_section .content ul {
    font-size: 16px;
  }
  .animated-button {
    font-size: 18px;
  }
}

@media only screen and (max-width: 430px) {
  .text_With_img_section .content h2 {
    font-size: 32px;
  }

  .text_With_img_section .content p {
    font-size: 18px;
  }
}

/* text with image end  */

/* best seller tab start */

.seller_tab {
  padding: 92px 0;
}

.seller_tab .heading {
  text-align: center;
}

.seller_tab .heading h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--heading-font);
  line-height: 57px;
}

.seller_tab .heading p {
  font-size: 22px;
  font-weight: 500;
}

.seller_tab .tabs {
  padding: 50px 0;
}

.seller_tab .tabs h4 {
  font-weight: 400;
  transition: 0.5s all linear;
  font-size: 18px;
}

.seller_tab .image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 50%;
  transition: 0.5s all linear;
}

.seller_tab .tabs .tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.seller_tab .tabs .active .image {
  opacity: 1;
  border: black solid 1px;
}

.seller_tab .tabs .active h4 {
  font-weight: 700;
}

.seller_tab .animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 15px 54px;
  font-size: 20px;
  border: none;
  background-color: #69d1d1;
  font-weight: 800;
  color: black;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.seller_tab .products-tab {
  padding-bottom: 100px;
}

.seller_tab .products .product .main-btn {
  transform: translateX(20%);
  transition: all linear 0.5s;
}

.seller_tab .products .product {
  width: 356px;
  transition: all 350ms linear;
}

.seller_tab .products .product .product-content .review {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.seller_tab .products .product .product-content .review .imgbox {
  max-width: 88px;
}

.seller_tab .products .product .product-content {
  text-align: center;
}

.seller_tab .products .product .product-content h3 {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  font-family: var(--heading-font);
}

.seller_tab .products .product .product-content p {
  font-size: 16px;
  line-height: 22.4px;
  margin-bottom: 15px;
}

.seller_tab .products .product .product-img {
  position: relative;
}

.seller_tab .products .product .product-img .main-btn {
  position: absolute;
  bottom: 5%;
  opacity: 0;
  visibility: hidden;
}

.seller_tab .products .product .product-img:hover .main-btn {
  visibility: visible;
  opacity: 1;
}

.seller_tab .products .product .product-img .offer {
  background: red;
  padding: 9px 12px;
  position: absolute;
  top: 2%;
  left: 2%;
  color: white;
  font-size: 16px;
}

.seller_tab .bestSellerTab .swiper-button-next,
.seller_tab .bestSellerTab .swiper-button-prev {
  display: none;
}
.seller_tab .swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.seller_tab .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  top: 40%;
  right: 0;
  border: 1px solid black;
  height: 30px;
}
.seller_tab .swiper-button-prev,
.swiper-rtl .swiper-button-prev {
  top: 40%;
  left: 0;
  border: 1px solid black;
  height: 30px;
}

.seller_tab .price {
  font-size: 24px;
  font-family: var(--heading-font);
  font-weight: 700;
  color: #d33737;
}

.seller_tab .price .before {
  text-decoration: line-through;
}

.seller_tab .products-tab .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  top: 96%;
  right: 10%;
  padding: 4px;
}
.seller_tab .products-tab .swiper-button-prev,
.swiper-rtl .swiper-button-prev {
  top: 96%;
  left: 10%;
  padding: 4px;
}

.seller_tab .products-tab .swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  top: 95%;
  width: 70%;
  left: 15%;
  height: 3px;
}

.seller_tab
  .products-tab
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  background-color: #69d1d1;
}

@media only screen and (min-width: 1700px) {
  .seller_tab .animated-button {
    padding: 15px 76px;
  }
}

@media only screen and (max-width: 1300px) {
  .seller_tab .animated-button {
    font-size: 16px;
    padding: 15px 76px;
  }
}

@media only screen and (max-width: 1024px) {
  .seller_tab .bestSellerTab .swiper-button-next,
  .seller_tab .bestSellerTab .swiper-button-prev {
    display: block;
  }
}
@media only screen and (max-width: 840px) {
  .seller_tab .animated-button {
    font-size: 16px;
    padding: 15px 70px;
  }
}
@media only screen and (max-width: 768px) {
  .seller_tab .animated-button {
    font-size: 16px;
    padding: 10px 60px;
  }

  .seller_tab .products .product .product-content .review span {
    font-size: 14px;
  }

  .seller_tab .products .product .product-content h3 {
    font-size: 16px;
  }

  .seller_tab .products .product .product-content p {
    font-size: 15px;
  }
  .seller_tab .price {
    font-size: 20px;
  }

  .seller_tab .products-tab .swiper-horizontal > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 60%;
    left: 20%;
  }
}

@media only screen and (max-width: 670px) {
  .seller_tab .animated-button {
    font-size: 16px;
    padding: 10px 50px;
  }
}
@media only screen and (max-width: 600px) {
  .seller_tab .animated-button {
    font-size: 16px;
    padding: 10px 65px;
  }
}
@media only screen and (max-width: 550px) {
  .seller_tab .animated-button {
    font-size: 16px;
    padding: 10px 55px;
  }
}

@media only screen and (max-width: 500px) {
  .seller_tab .animated-button {
    width: 100%;
  }
  .seller_tab .products .product .product-img .main-btn {
    font-size: 13px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 520px) {
  .seller_tab .products .product .product-content h3 {
    font-size: 15px;
    margin: 8px 0;
  }

  .seller_tab .products-tab .swiper-horizontal > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    top: 94.5%;
  }
}

@media only screen and (max-width: 440px) {
  .seller_tab .products .product .product-content h3 {
    font-size: 14px;
    margin: 0;
  }

  .seller_tab .products .product .product-content p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .seller_tab .price {
    font-size: 18px;
  }
}

/* best seller tab end */

/* step with image start  */

.step_image .main-content {
  max-width: 100%;
  width: 750px;
  padding-left: 18%;
}

.step_image .heading h2 {
  font-size: 48px;
  font-family: var(--heading-font);
  line-height: 57.8px;
  font-weight: 700;
  color: #220303;
  margin-bottom: 30px;
}

.step_image .heading p {
  font-size: 18px;
  font-weight: 500;
}

.step_image .image {
  max-width: 100%;
  /* height: 900px; */
}

.step_image .main-content .inner-content .step {
  display: flex;
  gap: 38px;
  align-items: center;
}

.step_image .main-content .inner-content .step .imgbox {
  width: 190px;
  max-width: 100%;
  position: relative;
  z-index: -1;
  overflow: visible;
}

.step_image .main-content .inner-content .step .imgbox span {
  position: absolute;
  color: rgb(255, 255, 255);
  z-index: 0;
  background-color: #000;
  padding: 3px 10px;
  border: 1px white solid;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}

.step_image .main-content .inner-content .step .content h3 {
  font-size: 28px;
  font-family: var(--heading-font);
  font-weight: 700;
  margin-bottom: 18px;
}

.step_image .main-content .inner-content .step .content p {
  font-size: 18px;
  line-height: 29px;
}

.step_image .main-content .inner-content .step {
  margin-top: 55px;
}

@media only screen and (max-width: 1350px) {
  .step_image .heading h2 {
    font-size: 35px;
    font-family: var(--heading-font);
    line-height: 40.8px;
    font-weight: 700;
    color: #220303;
    margin-bottom: 10px;
  }
  .step_image .heading p {
    font-size: 17px;
  }

  .step_image .main-content .inner-content .step .content h3 {
    font-size: 25px;
    font-family: var(--heading-font);
    font-weight: 700;
    margin-bottom: 10px;
  }

  .step_image .main-content .inner-content .step .content p {
    font-size: 17px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 1024px) {
  .step_image .main-content .inner-content .step {
    margin-top: 45px;
  }
}

@media only screen and (max-width: 992px) {
  .step_image .image {
    height: auto;
  }
  .step_image .main-content {
    padding-left: 0;
  }

  .step_image .heading {
    text-align: center;
  }

  .step_image .main-content {
    width: 100%;
  }

  .step_image .main-content {
    padding: 40px 10px;
  }
}

@media only screen and (max-width: 430px) {
  .step_image .heading h2 {
    font-size: 32px;
  }

  .step_image .main-content .inner-content .step .content h3 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .step_image .main-content .inner-content .step .content p {
    font-size: 16px;
    margin: 0;
  }

  .step_image .main-content .inner-content .step .imgbox span {
    font-size: 8px;
    padding: 2px 5px;
  }
  .step_image .main-content .inner-content .step {
    gap: 25px;
  }
}

/* video text section start  */

.video_text .image img {
  width: 100%;
  height: auto;
}

.video_text .image {
  position: relative;
}

.video_text .image .content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.video_text .image .content .play_btn img {
  width: 28px;
}

.video_text .image .content .play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  padding: 10px 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.video_text .image .content .play_btn a {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.video_text .image .content .text {
  position: absolute;
  bottom: 5%;
  left: 65%;
  width: 500px;
  text-align: center;
}
.video_text .image .content .text h2 {
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.8px;
  font-family: var(--heading-font);
}

@media only screen and (max-width: 1600px) {
  .video_text .image .content .text {
    left: 50%;
  }
}

@media only screen and (max-width: 1150px) {
  .video_text .image .content .text {
    left: 50%;
    transform: translateX(-50%);
  }

  .video_text .image .content .text h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 840px) {
  .video_text .image .content .text h2 {
    font-size: 35px;
    line-height: 45px;
  }

  .video_text .image .content .play_btn img {
    width: 25px;
  }

  .video_text .image .content .play_btn {
    padding: 8px 20px;
  }
}
@media only screen and (max-width: 600px) {
  .video_text .image .content .text {
    width: 100%;
  }

  .video_text .image .content .text h2 {
    font-size: 30px;
    line-height: 35px;
  }

  .video_text .image .content .play_btn a {
    font-size: 16px;
  }

  .video_text .image .content .play_btn img {
    width: 18px;
  }

  .video_text .image .content .play_btn {
    padding: 7px 15px;
  }
}
@media only screen and (max-width: 500px) {
  .video_text .image .content .text h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .video_text .image .content .play_btn a {
    font-size: 14px;
  }

  .video_text .image .content .play_btn {
    padding: 6px 10px;
  }
}
@media only screen and (max-width: 430px) {
  .video_text .image .content .text {
    top: 5%;
    width: 211px;
  }
  .video_text .image .content .text h2 {
    font-size: 18px;
  }

  .video_text .image .content .play_btn a {
    font-size: 10px;
  }

  .video_text .image .content .play_btn img {
    width: 14px;
  }

  .video_text .image .content .play_btn {
    padding: 2px 9px;
  }
}

/* video_text section end  */

/* special product  */

.special_product {
  padding: 75px 0;
}

.special_product .heading p {
  font-size: 22px;
  font-weight: 500;
  color: #220303;
}

.special_product .products {
  padding: 60px 0;
}

.special_product .heading {
  text-align: center;
}

.special_product .heading h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--heading-font);
  line-height: 57px;
}

.special_product .heading p {
  font-size: 22px;
  font-weight: 500;
}

.special_product .products .product {
  width: 330px;
  transition: all 350ms linear;
}

.special_product .products .product .product-content .review .imgbox {
  max-width: 88px;
}

.special_product .products .product .product-content {
  text-align: left;
  padding: 35px 40px;
  transition: all 0.5s linear;
  background: white;
}

.special_product .products .product .product-content h3 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  line-height: 26px;
  font-family: var(--heading-font);
}

.special_product .products .product .product-content p {
  font-size: 16px;
  line-height: 22.4px;
  margin-bottom: 15px;
  margin-bottom: 30px;
}

.special_product .products .product .product-content .animated-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 12px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  border: 1px solid #220303;
  font-weight: 800;
  color: black;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  width: 100%;
}

.special_product
  .products
  .product
  .product-content
  .animated-button:hover
  .circle {
  width: 100%;
}

.special_product .products .product:hover .product-content {
  background-image: url("/image/text-image-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s linear;
}

.special_product .products .product .product-img {
  position: relative;
}

.special_product .products .product .product-img .circel {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  position: absolute;
  top: -5%;
  left: -5%;
  color: white;
  font-size: 16px;
}

.special_product .products .product .product-img .circel img {
  width: 48px;
}

.special_product .bestSellerTab .swiper-button-next,
.special_product .bestSellerTab .swiper-button-prev {
  display: none;
}
.special_product .swiper-button-next::after,
.special_product .swiper-button-prev::after {
  display: none;
}

.special_product .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  top: 40%;
  right: 0;
  border: 1px solid black;
  height: 30px;
}
.special_product .swiper-button-prev,
.swiper-rtl .swiper-button-prev {
  top: 40%;
  left: 0;
  border: 1px solid black;
  height: 30px;
}

.special_product .price {
  font-size: 24px;
  font-family: var(--heading-font);
  font-weight: 700;
  color: #d33737;
}

.special_product .price .before {
  text-decoration: line-through;
}

.special_product .products .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  top: 96%;
  right: 5%;
  padding: 4px;
}
.special_product .products .swiper-button-prev,
.swiper-rtl .swiper-button-prev {
  top: 96%;
  left: 5%;
  padding: 4px;
}

.special_product .products .swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  top: 95%;
  width: 75%;
  left: 12%;
  height: 3px;
}

.special_product
  .products
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  background-color: #69d1d1;
}

@media only screen and (max-width: 1300px) {
  .seller_tab .animated-button {
    font-size: 16px;
    padding: 15px 76px;
  }
}

@media only screen and (max-width: 768px) {
  .special_product .heading h2 {
    font-size: 40px;
  }
  .special_product .products .product .product-content h3 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
  }

  .special_product .products .product .product-content p {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 15px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .special_product .heading h2 {
    font-size: 35px;
    line-height: 45px;
  }

  .special_product .products .product .product-content {
    padding: 0;
    width: 400px;
    padding: 30px 10px;
    transform: translateY(-20px);
  }

  .special_product .products .product .product-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 520px) {
  .special_product
    .products
    .swiper-horizontal
    > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    top: 94.5%;
  }
}

@media only screen and (max-width: 440px) {
  .special_product .heading h2 {
    font-size: 32px;
    line-height: 45px;
  }
  .special_product .products .product .product-content {
    padding: 0;
    width: 300px;
    padding: 30px 10px;
    transform: translateY(-20px);
  }
  .special_product .products .product .product-content h3 {
    font-size: 22px;
    margin: 0;
    font-weight: 700;
  }

  .special_product .products .product .product-content p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .special_product .products {
    padding: 40px 0;
  }

  .special_product .products .product .product-img .circel img {
    width: 40px;
  }

  .special_product .products .product .product-img .circel {
    width: 90px;
    height: 90px;
  }
}

/* faeture  */

.features_section .features .feature .image {
  width: 55px;
  height: 49.85px;
}

.features_section .features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.features_section .features .feature {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% / 5 - ((34px * (5 - 1)) / 5));
  align-items: center;
}

.features_section .features .feature .text {
  text-align: center;
}

.features_section .features .feature .text h4 {
  font-size: 22px;
  font-family: var(--heading-font);
  font-weight: 700;
}

.features_section .features .feature .text p {
  font-size: 18px;
}

@media only screen and (max-width: 1150px) {
  .features_section .features .feature .text h4 {
    font-size: 18px;
  }

  .features_section .features .feature .text p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .features_section .features .feature .text h4 {
    font-size: 22px;
  }

  .features_section .features .feature .text p {
    font-size: 18px;
  }

  .features_section .features .feature .text {
    text-align: left;
  }
  .features_section .features {
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
  }

  .features_section .features .feature {
    flex-direction: row;
    width: 100%;
  }
}

@media only screen and (max-width: 430px) {
  .features_section .features .feature .text h4 {
    font-size: 18px;
  }

  .features_section .features .feature .text p {
    font-size: 16px;
  }
}

/* feature section end  */

/* quiz section start  */
.quiz_section {
  padding-top: 80px;
}

.quiz_section_bg {
  background-image: url("/image/quiz-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 727px;
}

.quiz_section .mobile {
  display: none;
}

.quiz_section .content {
  width: 538px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quiz_section .content h2 {
  font-size: 48px;
  font-family: var(--heading-font);
  font-weight: 700;
  line-height: 57px;
  color: white;
}

.quiz_section .content p {
  font-size: 22px;
  margin: 40px 0;
  color: white;
}

.quiz_section .content .animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 15px 35px;
  font-size: 20px;
  border: none;
  background-color: #69d1d1;
  font-weight: 800;
  color: black;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  width: 200px;
}

@media only screen and (max-width: 992px) {
  .quiz_section .content h2 {
    font-size: 42px;
  }

  .quiz_section .content p {
    font-size: 20px;
    margin: 30px 0;
    color: white;
  }
}
@media only screen and (max-width: 768px) {
  .quiz_section .content h2 {
    font-size: 40px;
    line-height: 40px;
  }

  .quiz_section .content p {
    font-size: 19px;
    margin: 30px 0;
    color: white;
  }
}
@media only screen and (max-width: 550px) {
  .quiz_section .content {
    width: 100%;
    padding-bottom: 50px;
  }
  .quiz_section_bg {
    height: auto;
    background: #bfa99a;
  }
  .quiz_section .content h2 {
    font-size: 36px;
  }

  .quiz_section .content p {
    font-size: 18px;
    margin: 20px 0;
    color: white;
  }

  .quiz_section .mobile {
    display: block;
  }

  .quiz_section .content .animated-button {
    width: 100%;
    justify-content: center;
  }
}

@media only screen and (max-width: 430px) {
  .quiz_section .content h2 {
    font-size: 32px;
  }

  .quiz_section .content p {
    font-size: 18px;
  }
}

/* quiz section end  */

/* testimonial section start  */

.testimonial_section {
  padding: 75px 0;
  position: relative;
}

.testimonial_section::before {
  content: "";
  background-image: url("/image/text-image-bg.png");
  position: absolute;
  z-index: -1;
  top: 0;
  height: 530px;
  width: 100%;
}

.testimonial_section .heading p {
  font-size: 22px;
  font-weight: 500;
  color: #220303;
  max-width: 650px;
}

.testimonial_section .products {
  padding: 60px 0;
}

.testimonial_section .heading {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial_section .heading h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--heading-font);
  line-height: 57px;
  max-width: 650px;
}

.testimonial_section .testimonial {
  width: 376px;
  transition: all 350ms linear;
  height: auto;
}

.testimonial_section .testimonial_slider {
  padding: 50px 0 100px 0;
}

.testimonial_section .testimonial .testimonial-content {
  text-align: center;
  transition: all 0.5s linear;
  background: white;
  margin-top: 26px;
  padding: 0 20px;
}

.testimonial_section .testimonial .testimonial-content h3 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  font-family: var(--heading-font);
}

.testimonial_section .testimonial .testimonial-content p {
  font-size: 18px;
  line-height: 25.4px;
  margin-bottom: 15px;
  margin-bottom: 30px;
  margin: 18px 0;
}

.testimonial_section .testimonial .testimonial-content .star {
  margin: 0 auto;
  width: 85px;
  height: 18px;
}

.testimonial_section .testimonial .testimonial-content .quote {
  width: 25px;
  margin: 0 auto;
  padding: 18px 0;
}

.testimonial_section .testimonial .testimonial-content .verified img {
  width: 15px;
}

.testimonial_section .swiper-button-next::after,
.testimonial_section .swiper-button-prev::after {
  display: none;
}
.testimonial_section .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  border: 1px solid black;
  height: 30px;
}
.testimonial_section .swiper-button-prev,
.swiper-rtl .swiper-button-prev {
  border: 1px solid black;
  height: 30px;
}

.testimonial_section .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  top: 96%;
  right: 8%;
  padding: 4px;
}
.testimonial_section .swiper-button-prev,
.swiper-rtl .swiper-button-prev {
  top: 96%;
  left: 8%;
  padding: 4px;
}

.testimonial_section .swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  top: 95%;
  width: 70%;
  left: 15%;
  height: 3px;
}

.testimonial_section
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  background-color: #69d1d1;
}

@media only screen and (max-width: 992px) {
  .testimonial_section .heading h2 {
    font-size: 46px;
  }
  .join_family .heading p {
    font-size: 21px;
  }
}
@media only screen and (max-width: 768px) {
  .testimonial_section .heading h2 {
    font-size: 40px;
    line-height: 45px;
  }
  .testimonial_section .heading p {
    font-size: 20px;
    margin: 37px 0;
  }
}
@media only screen and (max-width: 650px) {
  .testimonial_section .heading h2 {
    font-size: 38px;
    line-height: 42px;
  }
  .testimonial_section .heading p {
    font-size: 19px;
    margin: 35px 0;
  }
}
@media only screen and (max-width: 500px) {
  .testimonial_section .heading h2 {
    font-size: 35px;
    line-height: 40px;
  }
  .testimonial_section .heading p {
    font-size: 19px;
    margin: 12px 0;
  }
}
@media only screen and (max-width: 430px) {
  .testimonial_section .heading h2 {
    font-size: 32px;
    line-height: 38px;
  }
  .testimonial_section .heading p {
    font-size: 18px;
    line-height: 25.2px;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .testimonial_section .swiper-button-next,
  .testimonial_section .swiper-button-prev {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .seller_tab .animated-button {
    font-size: 16px;
    padding: 10px 60px;
  }

  .testimonial_section .swiper-horizontal > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 60%;
    left: 20%;
  }
}

@media only screen and (max-width: 768px) {
  .special_product .heading h2 {
    font-size: 40px;
  }
  .special_product .products .product .product-content h3 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
  }

  .special_product .products .product .product-content p {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 15px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .special_product .heading h2 {
    font-size: 35px;
    line-height: 45px;
  }

  .special_product .products .product .product-content {
    padding: 0;
    width: 400px;
    padding: 30px 10px;
    transform: translateY(-20px);
  }

  .special_product .products .product .product-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seller_tab .products .product .product-img .main-btn {
    font-size: 13px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 520px) {
  .special_product
    .products
    .swiper-horizontal
    > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    top: 94.5%;
  }
}

@media only screen and (max-width: 440px) {
  .special_product .heading h2 {
    font-size: 32px;
    line-height: 45px;
  }
  .special_product .products .product .product-content {
    padding: 0;
    width: 300px;
    padding: 30px 10px;
    transform: translateY(-20px);
  }
  .special_product .products .product .product-content h3 {
    font-size: 22px;
    margin: 0;
    font-weight: 700;
  }

  .special_product .products .product .product-content p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .special_product .products {
    padding: 40px 0;
  }

  .special_product .products .product .product-img .circel img {
    width: 40px;
  }

  .special_product .products .product .product-img .circel {
    width: 90px;
    height: 90px;
  }
}

/* testimonial section end  */

.inspire_section {
  background-image: url("/image/inspire-desktop.png");
  background-size: cover;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inspire_section .content {
  max-width: 778px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inspire_section .content h2 {
  font-size: 48px;
  font-family: var(--heading-font);
  font-weight: 700;
  line-height: 57px;
}

.inspire_section .content p {
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  margin: 39px 0;
}

.inspire_section .content .animated-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 15px 35px;
  font-size: 20px;
  border: none;
  background-color: #69d1d1;
  font-weight: 800;
  color: black;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  width: 300px;
}

@media only screen and (max-width: 992px) {
  .inspire_section .content h2 {
    font-size: 46px;
  }
  .inspire_section .content p {
    font-size: 21px;
  }
}
@media only screen and (max-width: 768px) {
  .inspire_section .content h2 {
    font-size: 40px;
    line-height: 45px;
  }
  .inspire_section .content p {
    font-size: 20px;
    margin: 37px 0;
  }
}
@media only screen and (max-width: 650px) {
  .inspire_section .content h2 {
    font-size: 38px;
    line-height: 42px;
  }
  .inspire_section .content p {
    font-size: 19px;
    margin: 35px 0;
  }
}
@media only screen and (max-width: 500px) {
  .inspire_section .content h2 {
    font-size: 35px;
    line-height: 40px;
  }
  .inspire_section .content p {
    font-size: 19px;
    margin: 33px 0;
  }
}
@media only screen and (max-width: 430px) {
  .inspire_section .content h2 {
    font-size: 32px;
    line-height: 38px;
  }
  .inspire_section .content p {
    font-size: 18px;
    line-height: 25.2px;
    margin: 30px 0;
  }
}

/* inspire section end  */

/* Join section start  */

.join_family {
  padding: 90px 0 30px 0;
}

.join_family .image {
  max-width: 100%;
  width: 276px;
}
.join_family .heading {
  text-align: center;
  padding-bottom: 50px;
}
.join_family .heading h2 {
  font-size: 48px;
  font-family: var(--heading-font);
  font-weight: 700;
  line-height: 57px;
}

.join_family .heading a {
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  margin: 39px 0;
}

@media only screen and (max-width: 992px) {
  .join_family .heading h2 {
    font-size: 46px;
  }
  .join_family .heading a {
    font-size: 21px;
  }
}
@media only screen and (max-width: 768px) {
  .join_family .heading h2 {
    font-size: 40px;
    line-height: 45px;
  }
  .join_family .heading a {
    font-size: 20px;
    margin: 37px 0;
  }
}
@media only screen and (max-width: 650px) {
  .join_family .heading h2 {
    font-size: 38px;
    line-height: 42px;
  }
  .join_family .heading a {
    font-size: 19px;
    margin: 35px 0;
  }
}
@media only screen and (max-width: 500px) {
  .join_family .heading h2 {
    font-size: 35px;
    line-height: 40px;
  }
  .join_family .heading a {
    font-size: 19px;
    margin: 33px 0;
  }
}
@media only screen and (max-width: 430px) {
  .join_family .heading h2 {
    font-size: 32px;
    line-height: 38px;
  }
  .join_family .heading a {
    font-size: 18px;
    line-height: 25.2px;
    margin: 30px 0;
  }
}

/* subscribe form start  */
.subscribe_section {
  background-image: url("/image/subscribe-desktop.png");
  width: 100%;
  height: 609px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe_section .content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 630px;
  text-align: center;
}

.subscribe_section .content p {
  font-size: 16px;
  margin-top: 30px;
}

.subscribe_section .content .heading h2 {
  font-size: 48px;
  font-family: var(--heading-font);
  font-weight: 700;
  line-height: 57px;
}

.subscribe_section .content .heading p {
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  margin: 34px 0;
}

.subscribe_section .content .animated-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 15px 35px;
  font-size: 20px;
  border: none;
  background-color: #69d1d1;
  font-weight: 800;
  color: black;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  width: 33%;
  height: 60px;
}

.subscribe_section .content form {
  width: 100%;
  display: flex;
  gap: 2%;
}

.subscribe_section .content form .email {
  width: 65%;
  height: 60px;
  padding: 25px;
  font-size: 16px;
  color: #44281acc;
}

@media only screen and (max-width: 992px) {
  .subscribe_section .content .heading h2 {
    font-size: 46px;
  }
  .subscribe_section .content .heading p {
    font-size: 21px;
  }
}
@media only screen and (max-width: 768px) {
  .subscribe_section .content .heading h2 {
    font-size: 40px;
    line-height: 45px;
  }
  .subscribe_section .content .heading p {
    font-size: 20px;
    margin: 37px 0;
  }
}
@media only screen and (max-width: 650px) {
  .subscribe_section .content .heading h2 {
    font-size: 38px;
    line-height: 42px;
  }
  .subscribe_section .content .heading p {
    font-size: 19px;
    margin: 35px 0;
  }

  .subscribe_section .content {
    width: 100%;
  }

  .subscribe_section {
    background-image: url("/image/subscribe-mobile.png");
    width: 100%;
    height: 876px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .subscribe_section .content form {
    flex-direction: column;
    gap: 20px;
  }

  .subscribe_section .content form .email {
    width: 100%;
  }

  .subscribe_section .content .animated-button {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .subscribe_section .content .heading h2 {
    font-size: 35px;
    line-height: 40px;
  }
  .subscribe_section .content .heading p {
    font-size: 19px;
    margin: 33px 0;
  }
}
@media only screen and (max-width: 430px) {
  .subscribe_section .content .heading h2 {
    font-size: 32px;
    line-height: 38px;
  }
  .subscribe_section .content .heading p {
    font-size: 18px;
    line-height: 25.2px;
    margin: 30px 0;
  }
}

/* swiper class  */
.swiper-button-prev {
  display: flex;
  align-items: center;
}

.swiper-button-prev svg {
  cursor: pointer;
}
.swiper-button-next svg {
  cursor: pointer;
}

.swiper-button-prev:hover {
  background: #69d1d1;
  border: none;
}

.swiper-button-next {
  display: flex;
  align-items: center;
}

.swiper-button-next:hover {
  background: #69d1d1;
  border: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  background: transparent;
  opacity: 1;
  border: 1px solid black;
}

/* faq section  */

.faq_section .all-wraper {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq_section .all-wraper .image {
  width: 40%;
  height: auto;
}

.faq_section .all-wraper .faq-wraper {
  padding-right: 8%;
  width: 50%;
}

.faq_section .all-wraper .faq-wraper .heading h2 {
  font-size: 48px;
  font-family: var(--heading-font);
  font-weight: 700;
  line-height: 57px;
}

.faq_section .all-wraper .faq-wraper .heading p {
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  margin: 34px 0;
}

.faq_section .all-wraper .faq-wraper .all-faqs {
  padding: 30px 0;
}

.faq_section .all-wraper .faq-wraper .faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq_section .all-wraper .faq-wraper .faq-question p {
  font-size: 20px;
  transition: all linear 0.3s;
}

.faq_section
  .all-wraper
  .faq-wraper
  .faq-answer
  .faq_section
  .all-wraper
  .faq-wraper
  .faq-answer
  p {
  font-size: 18px;
  padding: 15px 0;
  line-height: 25.2px;
}

.faq_section .all-wraper .faq-wraper .all-faqs .faq-item {
  border-bottom: 1px solid black;
  padding: 30px 0;
}

.faq_section .all-wraper .faq-wraper .faq-answer {
  display: none;
}

.faq_section .all-wraper .faq-wraper .faq-item .active {
  display: block;
}

.faq_section .all-wraper .faq-wraper .faq-item .faq-question span {
  position: relative;
  height: 20px;
  width: 20px;
}
.faq_section .all-wraper .faq-wraper .faq-item .faq-question span::after {
  content: "";
  width: 100%;
  background: #252222;
  height: 3px;
  position: absolute;
  display: block;
  top: 50%;
  transform: translate(-50%, -50%);
}

.faq_section .all-wraper .faq-wraper .faq-item .faq-question span::before {
  content: "";
  width: 3px;
  background: #252222;
  height: 100%;
  position: absolute;
  display: block;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all linear 0.3s;
}

.faq_section .all-wraper .faq-wraper .faq-item .open span::before {
  height: 0;
}

@media only screen and (max-width: 1430px) {
  .faq_section .all-wraper .faq-wraper .all-faqs {
    padding-top: 0;
  }

  .faq_section .all-wraper .faq-wraper .all-faqs .faq-item {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 1230px) {
  .faq_section .all-wraper .faq-wraper .all-faqs .faq-item {
    padding: 15px 0;
  }
}

@media only screen and (max-width: 1190px) {
  .faq_section .all-wraper {
    flex-direction: column;
    gap: 30px;
  }

  .faq_section .all-wraper .faq-wraper .all-faqs {
    padding: 20px 0;
  }

  .faq_section .all-wraper .faq-wraper {
    padding-right: 0;
    width: 90%;
    margin: 0 auto;
  }

  .faq_section .all-wraper .image {
    width: 100%;
  }
  .faq_section .all-wraper .faq-wraper .all-faqs .faq-item {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 992px) {
  .faq_section .all-wraper .faq-wraper .heading h2 {
    font-size: 46px;
  }
  .faq_section .all-wraper .faq-wraper .heading p {
    font-size: 21px;
  }
}
@media only screen and (max-width: 768px) {
  .faq_section .all-wraper .faq-wraper .heading h2 {
    font-size: 40px;
    line-height: 45px;
  }
  .faq_section .all-wraper .faq-wraper .heading p {
    font-size: 20px;
    margin: 37px 0;
  }
}
@media only screen and (max-width: 650px) {
  .faq_section .all-wraper .faq-wraper .heading h2 {
    font-size: 38px;
    line-height: 42px;
  }
  .faq_section .all-wraper .faq-wraper .heading p {
    font-size: 19px;
    margin: 35px 0;
  }

  .faq_section .all-wraper .faq-wraper .all-faqs .faq-item {
    padding: 25px 0;
  }
}
@media only screen and (max-width: 500px) {
  .faq_section .all-wraper .faq-wraper .heading h2 {
    font-size: 35px;
    line-height: 40px;
  }
  .faq_section .all-wraper .faq-wraper .heading p {
    font-size: 19px;
    margin: 33px 0;
  }
  .faq_section .all-wraper .faq-wraper .faq-question p {
    font-size: 18px;
  }

  .faq_section .all-wraper .faq-wraper .faq-answer p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 430px) {
  .faq_section .all-wraper .faq-wraper .heading h2 {
    font-size: 32px;
    line-height: 38px;
  }
  .faq_section .all-wraper .faq-wraper .heading p {
    font-size: 18px;
    line-height: 25.2px;
    margin: 30px 0;
  }

  .faq_section .all-wraper .faq-wraper .faq-question p {
    font-size: 16px;
  }

  .faq_section .all-wraper .faq-wraper .faq-answer p {
    font-size: 14px;
  }
}

/* delivery  */

.delivery_section {
  width: 100%;
  padding: 13px;
  background: #f8dbcab5;
}

.delivery_section .content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  gap: 12px;
  height: 100%;
  position: relative;
}

.delivery_section .content::after {
  content: "";
  background: #000;
  height: 80%;
  width: 1px;
  position: absolute;
  right: 0;
  transform: translateX(-50%);
  opacity: 50%;
}



.delivery_section .content img {
  width: 28px;
}

.delivery_section .content p {
  font-size: 16px;
}

@media only screen and (max-width: 1088px) {
  .delivery_section .content p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px){
  .delivery_section .content::after {
    background: none;
  }
}
