@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Sen:wght@400..800&display=swap");

* {
  cursor: default;
  list-style: none;
  text-decoration: none;
  --heading-font: "Lusitana", system-ui;
  --p-font: "Sen", system-ui;
  --hero-bg: #76431e;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  color: #000;
  position: static;
  scroll-behavior: smooth;
  font-family: "Sen", system-ui;
  overflow-x: hidden;
}
select,
input,
button:focus {
  outline: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
.image-with-text__text.rte ul {
  list-style: disc;
}
a {
  text-decoration: none;
  color: #000;
}
a,
a * {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.imgbox_full,
.imgbox {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.imgbox_full img,
.imgbox img {
  width: 100%;
  height: auto;
}
.imgbox_full {
  height: 100%;
}
.imgbox_full img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  max-width: 1456px;
  margin: 0 auto;
}
.container_2 {
  max-width: 1300px;
  margin: 0 auto;
  padding-inline: 15px;
}

/* common font name  */
.heading-font {
  font-family: "Lusitana", system-ui;
}
.p-font {
  font-family: "Sen", system-ui;
}
/* common font name  */

/* hero section start  */

/* main button style  */

.hero_section .animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 23px 35px;
  font-size: 20px;
  border: none;
  background-color: #69d1d1;
  font-weight: 800;
  color: black;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: black;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #69d1d1;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  color: #212121;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

/* main button style  */

.hero_section {
  background-image: url(/image/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image-mobile {
  display: none;
}

.hero-first-content {
  color: white;
}

.hero-first-content .first-content {
  margin-bottom: 24px;
}

.hero-first-content .second-content {
  width: 100%;
}

.hero-first-content .second-content h1 {
  font-family: var(--heading-font);
  font-size: 56px;
  margin-bottom: 24px;
}

.hero-first-content .second-content p {
  font-size: 20px;
  margin-bottom: 24px;
  font-weight: 500;
}

.hero-card {
  background: white;
  width: 100%;
  max-width: 435px;
  margin-left: auto;
}

.hero-card-body {
  display: flex;
}

.hero-content {
  height: 100vh;
  padding: 60px 0;
}

.hero-first-content {
  align-self: center;
}

.hero-content .card_wrapper {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.hero-card-body .card-content {
  padding: 19.5px 22px;
}

.hero-card-body .card-icon {
  display: flex;
  align-items: center;
  gap: 4px;
}

.hero-card-body .card-content h4 {
  font-size: 18px;
  font-family: var(--heading-font);
  font-weight: 700;
  margin-bottom: 5px;
}

.hero-card-body .card-content p {
  font-size: 14px;
  line-height: 18.2px;
  margin-bottom: 5px;
}

.hero-card-body .card-content .card-icon h5 {
  font-size: 14px;
  font-weight: 700;
}

.hero-card-body .card-content .card-icon p {
  font-size: 12px;
  margin: 0;
}

.hero_section .hero-content .card_img_wrapper {
  width: 28%;
  flex-shrink: 0;
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .hero-first-content .first-content {
    font-size: 15px;
  }
  .hero-first-content .second-content h1 {
    font-size: 50px;
  }

  .hero-first-content .second-content p {
    font-size: 20px;
  }

  .hero-content {
    height: auto;
  }
}

@media only screen and (max-width: 880px) {
  .hero-card-body .card-content .card-icon .yellow-star svg {
    width: 60px;
  }
}

/* @media only screen and (max-width: 680px){

} */
@media only screen and (max-width: 500px) {
  .hero-first-content .first-content {
    font-size: 14px;
  }

  .hero-content .main-btn .animated-button {
    width: 100%;
    padding: 18px 56px;
  }
  .hero_section {
    background: var(--hero-bg);
  }

  .hero-first-content .second-content h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .hero-first-content .second-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .hero-first-content {
    text-align: center;
  }

  .hero-image-mobile {
    display: block;
  }

  .hero-content {
    padding: 0 0 50px 0;
  }
}

@media only screen and (max-width: 450px) {
  .hero-card-body .card-content p {
    font-size: 12px;
    line-height: 14px;
  }

  .hero-card-body .card-content {
    padding: 10px 15px;
  }

  .hero-first-content .first-content {
    font-size: 13px;
  }

  .hero-first-content .second-content h1 {
    font-size: 24px;
  }
  .hero-first-content .second-content p {
    font-size: 15px;
  }

  .hero-card-body .card-content .card-icon .yellow-star svg {
    width: 50px;
  }

  .hero-card-body .card-content .card-icon h5 {
    font-size: 11px;
  }
  .hero-card-body .card-content .card-icon p {
    font-size: 10px;
  }
}

/* infinity slider  */

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.infinity_slider {
  padding: 20px 0;
}
.infinity_slider .slider {
  background: white;
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.infinity_slider .slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  align-items: center;
  width: calc(250px * 14);
}
.infinity_slider .slider .slide {
  width: 210px;
  opacity: 60%;
}

.infinity_slider .slide-track {
  padding: 20px;
}

.infinity_slider .content {
  font-size: 18px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.infinity_slider .content p {
  font-size: 18px;
}

@media only screen and (max-width: 1024px) {
  .infinity_slider .content {
    justify-content: center;
    padding: 20px 0 0 0;
  }
}

/* infinity_slider end  */

/* collection section  */

.collection_section .collections {
  overflow: hidden;
}

.text_With_img_section .imgbox{
  overflow: visible;
}
.collection_section .main-btn{
  opacity: 0;
  visibility: hidden;
  transition: all linear 350ms;
}

.collection_section .collections:hover .main-btn{
  opacity: 1;
  visibility: visible;
}
.collection_section .collections:hover .collection-content{
  transform: translateY(0);
}

.collection_section .animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 18px 74px;
  font-size: 20px;
  border: none;
  background-color: #69d1d1;
  font-weight: 800;
  color: black;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  margin: 15px 0;
  left: 50%;
  transform: translateX(-50%);
}

.collection_section .collection-content h2 {
  font-size: 34px;
  font-family: var(--heading-font);
  line-height: 44.1px;
  font-weight: 700;
}

.collection_section .collection-content p {
  font-size: 22px;
}

.collection_section .collections {
  text-align: center;
  position: relative;
}

.collection_section .collections .collection-content {
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 20px 0;
  right: 5%;
  transform: translateY(40%);
  transition: all linear 350ms;
}

.collection_section .collections:hover .collection_section .animated-button {
  display: flex;
}

@media only screen and (max-width: 500px) {
  .collection_section .collection-content h2 {
    font-size: 26px;
    font-family: var(--heading-font);
  }

  .collection_section .collection-content p {
    font-size: 16px;
  }
}

/* collections section end  */

/* text with image section  */

.text_With_img_section {
  background: url("/image/text-image-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 23px;
}

.text_With_img_section .image {
  width: 50%;
  position: relative;
  z-index: 0;
}

.text_With_img_section .image:after {
  content: url("/image/shadow.png");
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-10%);
  z-index: -1;
}

.text_With_img_section .content h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--heading-font);
  line-height: 57.6px;
}
.text_With_img_section .content p {
  font-size: 20px;
  margin: 15px 0 25px 0;
  line-height: 30px;
}

.text_With_img_section .content ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  margin-bottom: 34px;
}

.text_With_img_section .content ul li {
  display: flex;
  gap: 12px;
}

.text_With_img_section .content ul li img{
  max-width: 100%;
  width: 32px;
}

.text_With_img_section .content .animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 23px 35px;
  font-size: 20px;
  border: none;
  background-color: #69d1d1;
  font-weight: 800;
  color: black;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.buttons {
  display: flex;
  gap: 15px;
}

.text_With_img_section .content .ship {
  display: flex;
  gap: 12px;
  align-items: center;
}

.text_With_img_section .content .ship span {
  font-size: 18px;
}

.text_With_img_section .content .ship img {
  width: 32px;
}



@media only screen and (max-width: 992px) {
  .text_With_img_section .image{
    width: 100%;
  }

  .text_With_img_section .image:after {
    right: -4%;
  }

  .text_With_img_section .content h2{
    font-size: 43px;
  }

  .text_With_img_section .imgbox{
    overflow: hidden;
  }
}

@media only screen and (max-width: 650px) {
  .buttons {
    flex-direction: column;
  }
  .text_With_img_section .content h2{
    font-size: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .buttons{
    gap: 20px;
  }
  .text_With_img_section .content .animated-button {
    width: 100%;
    padding: 15px 57px;
  }

  .text_With_img_section .content .ship {
    width: 100%;
    justify-content: center;
  }

  .text_With_img_section .content p{
    font-size: 20px;
  }

  .text_With_img_section .content h2{
    font-size: 35px;
  }

  .text_With_img_section .content ul{
    font-size: 16px;
  }
}

@media only screen and (max-width: 430px) {
  .text_With_img_section .content h2{
    font-size: 32px;
  }

  .text_With_img_section .content p{
    font-size: 18px;
  }
}
